.cards {
  --gap: 2.5rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-bottom: 1.5rem;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-thumbnail {
  position: relative;
  flex: 0 0 auto;
}

.card .card-thumbnail a,
.card .card-thumbnail picture,
.card .card-thumbnail img {
  display: block;
}

.card .card-thumbnail a {
  background: none;
}

.card .card-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 764 / 355;
}

@media (max-width: 768px) {
  .card .card-thumbnail img {
    aspect-ratio: auto;
  }
}

.card .card-thumbnail .topic-tag {
  display: block;
  position: absolute;
  bottom: 2rem;
  background: var(--link-background-color);
  padding: 0 1rem;
  margin-left: -0.8rem;
  color: var(--arc-color-black);
  font-family: var(--ff-gilroy-semibold);
  font-size: 1.4rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
}

.card .card-thumbnail .topic-tag::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--link-background-color);
  transform: rotate(-135deg);
  left: 0;
  bottom: -0.5rem;
}

.card .card-text {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}

.card .card-text h5 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-top: 0.5em;
  background-image: none;
  text-align: left;
}

/* VARIANTS */

/* TEASER */
.cards.teaser .card {
  flex: 1 1 calc(50% - var(--gap));
}

.cards.teaser .card:first-child {
  flex: 1 1 100%;
}

@media (max-width: 480px) {
  .cards.teaser .card,
  .cards.teaser .card:first-child {
    flex: 1 1 100%;
  }
}

.cards.teaser .card .card-text {
  background: #fff;
  padding: 3rem 2rem;
}

/* SIDEBAR */
.cards.sidebar {
  --gap: 1.5rem;

  margin-bottom: 3rem;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards.sidebar .card {
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #d9d9d9;
}

.cards.sidebar .card .card-thumbnail img {
  aspect-ratio: 91 / 42;
}

@media (max-width: 768px) {
  .cards.sidebar .card {
    flex-direction: row;
    display: flex;
  }

  .cards.sidebar .card .card-thumbnail {
    flex: 0 0 22rem;
  }

  .cards.sidebar .card .card-text {
    padding-left: 1rem;
    flex: 1 1 auto;
  }
}
