.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.blog-authors > div > div.columns-img-col {
  padding-bottom: 20px;
}

.columns.blog-authors > div {
  font-size: 1.4rem;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.blog-authors {
    display: flex;
  }

  .columns.blog-authors > div {
    align-items:normal;
    gap: 24px;
    width: 100%;
  }

  .columns.blog-authors > div > div.columns-img-col {
    max-width: 25%;
    padding-bottom: 0;
  }

  .columns.blog-authors > div > div {
    flex: 1 1;
  }
}
