.blog-list ul,
.blog-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-list li {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #9c9c9c;
}

.blog-list .card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.blog-list .card-thumbnail {
  height: 14.4rem;
}

.blog-list .card .card-thumbnail a,
.blog-list .card .card-thumbnail picture,
.blog-list .card .card-thumbnail img {
  height: 100%;
}

.blog-list .card .card-thumbnail img {
  aspect-ratio: 16 / 9 ;
}

.blog-list .card .card-thumbnail .topic-tag {
  display: none;
}

.blog-list .card .card-text {
  padding: 0 1rem;
  position: relative;
  flex: 1 1 auto;
}

.blog-list .card .card-text .card-date {
  display: inline-block;
  margin-top: 0.5rem;
  -webkit-font-smoothing: antialiased;
}

.blog-list .card .card-text .card-cta {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 0;
}

.blog-list .card .card-text .card-description {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
    display:block;
    white-space: normal;
    float: right;
    letter-spacing: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    line-height:  1.7143;
}

.blog-list .card .card-text .card-cta a {
  font-family: var(--ff-gilroy-semibold);
  color: var(--text-color);
  font-size:1.8rem;
  line-height: 1.4rem;
  letter-spacing: 0;
  cursor: pointer;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

.blog-list .card .card-text .card-cta a .card-arrow {
  display: inline-block;
  margin-left: -0.2rem;
  vertical-align: bottom;
  line-height: 0;
  position: relative;
  transform: scale(0.8);
  overflow: hidden;
}

.blog-list .card .card-text .card-cta a .card-arrow svg {
  height: 1.3rem;
  transform: translate(-1.5rem,0);
  transition: all .25s linear;
}

.blog-list .card .card-text .card-cta a .card-arrow svg #polyline-3 {
  transform: translate(1rem,0);
}

.blog-list .card .card-text .card-cta a .card-arrow svg #svg-group {
  transform: translate(-1rem,0);
}

.blog-list .card .card-text .card-cta a:hover .card-arrow {
  display: inline-block
}

.blog-list .card .card-text .card-cta a:hover .card-arrow svg {
  transform: translate(-0.5rem,0);
}

@media (max-width: 1024px) {
  .blog-list .card .card-text .card-cta a {
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .blog-list .card .card-thumbnail {
    flex: 0 0 12.7rem;
  }

  .blog-list .card .card-thumbnail img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

@media (max-width: 768px) {
  .blog-list .card .card-text .card-cta a {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .blog-list .card .card-text .card-cta a .card-arrow {
    margin-left: .5rem;
    transform: scale(1);
  }
}

@media only screen and (min-width: 1700px) {
  .blog-list .card .card-text .card-cta a {
      padding: 1.5rem 4rem;
  }

  .blog-list .card .card-text .card-cta a .card-arrow {
      margin-left: .8rem;
  }
}