@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: GilroyRegular;
    src: url('../fonts/gilroy-regular.woff2') format('woff2'),url('../fonts/gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: GilroySemiBold;
    src: url('../fonts/gilroy-semibold.woff2') format('woff2'),url('../fonts/gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: GilroyBold;
    src: url('../fonts/gilroy-bold.woff2') format('woff2'),url('../fonts/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

/* ---- NAAS Dependencies - Start --- */

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/fa-light-300.woff2")
      format("woff2"),
    url("../fonts/fa-light-300.ttf")
  
    format("truetype");
}

.fal,
.fa-light {
  font-weight: 300;
}

:root,
:host {
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-style-family-classic: "Font Awesome 6 Pro";
  --fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro";
  --fa-style-family-solid: "Font Awesome 6 Pro";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
}

@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2")
      format("woff2"),
    url("../fonts/fa-solid-900.ttf")
      format("truetype");
}

.fas,
.fa-solid {
  font-weight: 900;
}

.fab,
.fa-brands {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
}

.fa-check::before {
  content: "";
}

.fa-facebook::before {
  content: "";
}

.fa-facebook-f::before {
  content: "";
}

.fa-instagram::before {
  content: "";
}

.fa-linkedin::before {
  content: "";
}

.fa-linkedin-in::before {
  content: "";
}

.fa-square-x-twitter::before {
  content: "";
}

.fa-tiktok::before {
  content: "";
}

.fa-twitter::before {
  content: "";
}

.fa-x-twitter::before {
  content: "";
}

.fa-youtube::before {
  content: "";
}

.fa-globe::before {
  content: "";
}

.fa-angle-down::before {
  content: "";
}

.fa-angle-left::before {
  content: "";
}

.fa-angle-right::before {
  content: "";
}

.fa-angle-up::before {
  content: "";
}

/* ---- NAAS Dependencies - End --- */
