/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --ff-gilroy-regular: 'GilroyRegular', 'GilroyRegularFallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-gilroy-bold: 'GilroyBold', 'GilroyBoldFallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-gilroy-semibold: 'GilroySemiBold', 'GilroySemiBoldFallback', 'helvetica neue', helvetica, arial, sans-serif;

  /* colors */
  --arc-color-brandblue-900: #032d42;
  --arc-color-brandgreen-500: #62d84e;
  --arc-color-brandgreen-400: #81df71;
  --arc-color-brandgreen-300: #9fe793;
  --arc-color-neutral-900: #1d1d1d;
  --arc-color-black: #000;
  --background-color: #f7f7f7;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--arc-color-neutral-900);
  --link-color: var(--text-color);
  --link-background-color: var(--arc-color-brandgreen-500);

  /* fonts */
  --body-font-family: var(--ff-gilroy-regular);
  --heading-font-family: var(--ff-gilroy-bold);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xl: 2.2rem ;
  --heading-font-size-l: 2rem;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 80px;
}

@media (max-width: 1024px) {
  :root {
    --nav-height: 56px;
  }
}

@font-face {
  font-family: GilroyRegularFallback;
  size-adjust: 100.06%; /* TODO finetune */
  ascent-override: 95%; /* TODO finetune */
  src: local('Arial');
}

@font-face {
  font-family: GilroyBoldFallback;
  size-adjust: 108.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: GilroySemiBoldFallback;
  size-adjust: 100.06%; /* TODO finetune */
  ascent-override: 95%; /* TODO finetune */
  src: local('Arial');
}


@media (min-width: 768px) {
  :root {
    --heading-font-size-l: 2.8rem;
    --heading-font-size-m: 1.4rem;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.7143;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

p, span {
  font-size: 1.4rem;
}

p {
  margin: 0 0 12px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  line-height: 1.25;
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
  /* stylelint-disable-next-line value-no-vendor-prefix */
  -webkit-font-smoothing: antialiased;
}

h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

h1, h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 4.68rem;
  margin-bottom: 2rem;
}

.section.no-sidebar h1 {
  margin-top: 0;
}

h3 {
  display: block;
  font-size: var(--heading-font-size-l);
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  letter-spacing: -0.02rem;
  padding-right: 2rem;
}

h3 span {
  font: inherit;
  padding-right: 2rem;
}

* + h3 {
  margin-top: 3rem;
}

h3.strike-line {
  background-image: url('../images/header-bar-h3.gif');
  background-repeat: repeat-x;
  background-position: 0 50%;
}

h3.strike-line span {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  :root {
    --heading-font-size-xl: 3.6rem;
    --heading-font-size-l: 2.8rem;
  }

  h3 {
    letter-spacing: unset;
    padding-right: unset;
    line-height: 3.12rem;
  }
}

@media (min-width: 1700px) {
  :root {
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
  }
}

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

main li {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1.2rem;
}


hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a {
  text-decoration: none;
}

main a:any-link {
  color: var(--link-color);
  background: linear-gradient(var(--link-background-color),var(--link-background-color)) bottom repeat-x;
  background-size: 0.2rem 0.2rem;
  font-size: inherit;
  padding-bottom: 0.1rem;
  position: relative;
  transition: all .25s ease-out;
}

main a:hover {
  background-size: 100% 100%;
}

/* stylelint-disable no-descending-specificity */
.sidebar a:any-link,
.article-byline a:any-link {
  background: none;
  background-image: linear-gradient(to right,var(--link-background-color) 50%,transparent 50%);
  background-size: 205% 2px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.sidebar a:hover,
.article-byline p > a:hover {
  background-position: bottom left;
}

.article-byline a:any-link {
  font-family: var(--ff-gilroy-bold);
}
/* stylelint-enable no-descending-specificity */

/* buttons */
main a.button:any-link,
main button {
  --transition-onhover: 0.2s linear;
  --background-default: var(--arc-color-brandgreen-500);
  --background-hover: var(--arc-color-brandgreen-300);
  --background-active: var(--arc-color-brandgreen-400);
  --border-color-default: var(--arc-color-brandgreen-500);
  --border-color-hover: var(--arc-color-brandgreen-300);
  --border-color-active: var(--arc-color-brandgreen-400);

  display: inline-flex;
  align-items: center;
  background: var(--background-default);
  border: 2px solid var(--border-color-default);
  border-radius: 50rem;
  color: var(--arc-color-neutral-900);
  cursor: pointer;
  font-family: var(--ff-gilroy-semibold);
  font-style: normal;
  justify-content: center;
  padding: 0 2.2rem;
  height: 4.8rem;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--transition-onhover),border-color var(--transition-onhover),color var(--transition-onhover);
}

main a.button:hover,
main a.button:focus,
main button:hover,
main button:focus  {
  background: var(--background-hover);
  border: 2px solid var(--border-color-hover);
}

main a.button:active,
main button:active {
  background: var(--background-active);
  border: 2px solid var(--border-color-active);
}

main button:disabled,
main button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

main a.button.primary,
main button.primary {
  border: 2px solid #FFF !important;
}

main a.button.secondary,
main button.secondary {
  --background-default: transparent;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  margin: 45px 0 45px 50px;
}

main blockquote p {
  border-left: 3px solid #ccc;
  font-style: italic;
  font-size: 1.75rem;
  padding: 12px 24px 12px 15px;
}

main img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.blog-article .default-content-wrapper .article-image {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.blog-article .default-content-wrapper .article-image.hero-image {
  margin-top: 0;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.section {
  padding: 0 1.2rem;
}

.section > div {
  padding: 0 1.2rem;
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
body:not(.blog-home-page) main .section:nth-child(2)::after {
  content: "";
  display: block;
  height: 9px;
  background: url('../images/blog-diagonal-lines.webp') repeat 0 0;
  margin: 2.4rem auto 3rem;
  max-width: calc(1200px - 2.4rem);
}

@media (max-width: 1224px) {
  body:not(.blog-home-page) main .section:nth-child(2)::after {
    margin: 2.4rem 1.2rem 3rem;
  }
}

body:not(.blog-home-page) main.has-sidebar .section:nth-child(2)::after {
  margin: 2.4rem 1.2rem 3rem;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

@media (min-width: 768px) {
  main.has-sidebar {
    display: grid;
    grid-template-columns: auto 480px 240px auto;
  }

  main.has-sidebar .section {
    grid-column: 2;
    padding-left: 0;
    padding-right: 1.2rem;
  }

  main.has-sidebar .section.no-sidebar {
    grid-column: 2 / 4;
    padding: 0;
  }

  main.has-sidebar .section.sidebar {
    grid-column: 3;
    grid-row: 2 / inf;
    padding-right: 0;
    padding-left: 1.2rem;
  }

  main.has-sidebar > .section.full-width.no-sidebar {
    grid-column: 1 / 4;
  }
}

@media (min-width: 992px) {
  main.has-sidebar {
    grid-template-columns: auto 626.5px 313.5px auto;
  }
}

@media (min-width: 1280px) {
  main.has-sidebar {
    grid-template-columns: auto 800px 400px auto;
  }
}