/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --ff-gilroy-regular: 'GilroyRegular', 'GilroyRegularFallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-gilroy-bold: 'GilroyBold', 'GilroyBoldFallback', 'helvetica neue', helvetica, arial, sans-serif;
  --ff-gilroy-semibold: 'GilroySemiBold', 'GilroySemiBoldFallback', 'helvetica neue', helvetica, arial, sans-serif;


  /* colors */
  --link-hover-color: #136ff6;
  --background-color: #f7f7f7;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #293e40;
  --link-color: var(--text-color);
  --link-background-color: #81b5a1;

  /* fonts */
  --body-font-family: var(--ff-gilroy-regular);
  --heading-font-family: var(--ff-gilroy-bold);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-l: 2rem;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: GilroyRegularFallback;
  size-adjust: 100.06%; /* TODO finetune */
  ascent-override: 95%; /* TODO finetune */
  src: local('Arial');
}

@font-face {
  font-family: GilroyBoldFallback;
  size-adjust: 108.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: GilroySemiBoldFallback;
  size-adjust: 100.06%; /* TODO finetune */
  ascent-override: 95%; /* TODO finetune */
  src: local('Arial');
}


@media (min-width: 768px) {
  :root {
    --heading-font-size-l: 2.8rem;
    --heading-font-size-m: 1.4rem;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.7143;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

p, span {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 12px;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  line-height: 1.25;
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
  /* stylelint-disable-next-line value-no-vendor-prefix */
  -webkit-font-smoothing: antialiased;
}

/* h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }  */
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

h1, h2 {
  font-size: 3.6rem;
  line-height: 4.68rem;
  margin-bottom: 2rem;
}

.section.no-sidebar h1 {
  margin-top: 2rem;
}

h3 {
  display: block;
  font-size: var(--heading-font-size-l);
  line-height: 2.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  letter-spacing: -0.02rem;
  padding-right: 2rem;
}

h3 span {
  font: inherit;
  padding-right: 2rem;
}

p + h3 {
  margin-top: 3rem;
}

h3.strike-line {
  background-image: url('/images/header-bar-h3.gif');
  background-repeat: repeat-x;
  background-position: 0 50%;
}

h3.strike-line span {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  h3 {
    letter-spacing: unset;
    padding-right: unset;
  }
}

@media (min-width: 1700px) {
  h3 {
    font-size: 3.6rem;
  }
}

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

ol, ul {
  list-style: none;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  background: linear-gradient(var(--link-background-color),var(--link-background-color)) bottom repeat-x;
  background-size: 0.2rem 0.2rem;
  font-size: inherit;
  padding-bottom: 0.5rem;
  position: relative;
  transition: all .25s ease-out;
}

a:hover {
  background-size: 100% 100%;
}

/* stylelint-disable no-descending-specificity */
.sidebar a:any-link,
.article-byline a:any-link {
  background: none;
  background-image: linear-gradient(to right,var(--link-background-color) 50%,transparent 50%);
  background-size: 205% 2px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.sidebar a:hover,
.article-byline p > a:hover {
  background-position: bottom left;
}

.article-byline a:any-link {
  font-family: var(--ff-gilroy-bold);
}
/* stylelint-enable no-descending-specificity */

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.section {
  padding: 0 1.2rem;
}

.section > div {
  padding: 0 1.2rem;
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
body:not(.blog-home-page) main .section:nth-child(2)::after {
  content: "";
  display: block;
  height: 9px;
  background: url('/images/blog-diagonal-lines.webp') repeat 0 0;
  margin: 2.4rem auto 3rem;
  max-width: calc(1200px - 2.4rem);
}

@media (max-width: 1224px) {
  body:not(.blog-home-page) main .section:nth-child(2)::after {
    margin: 2.4rem 1.2rem 3rem;
  }
}

body:not(.blog-home-page) main.has-sidebar .section:nth-child(2)::after {
  margin: 2.4rem 1.2rem 3rem;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

@media (min-width: 768px) {
  main.has-sidebar {
    display: grid;
    grid-template-columns: auto 480px 240px auto;
  }

  main.has-sidebar .section {
    grid-column: 2;
    padding-left: 0;
    padding-right: 1.2rem;
  }

  main.has-sidebar .section.no-sidebar {
    grid-column: 2 / 4;
    padding: 0;
  }

  main.has-sidebar .section.sidebar {
    grid-column: 3;
    grid-row: 2 / inf;
    padding-right: 0;
    padding-left: 1.2rem;
  }

  main.has-sidebar > .section.full-width.no-sidebar {
    grid-column: 1 / 4;
  }
}

@media (min-width: 992px) {
  main.has-sidebar {
    grid-template-columns: auto 626.5px 313.5px auto;
  }
}

@media (min-width: 1280px) {
  main.has-sidebar {
    grid-template-columns: auto 800px 400px auto;
  }
}
