.footer-columns > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: left;}

h3 {
 font-size: 15px;
}

ul{
  list-style: none;
  list-style-type: none;
  padding: 10;
  margin: 0;
  text-align: left;
}

a:link {
  text-decoration: none;
}

.footer-columns.bottom > div{
   font-size: 10px;
}

.footer-columns.socials > div{
    font-size: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    white-space: nowrap;
 }

 .footer-columns.subscribe > div{
    width: 50%;
    margin-left: 0;
    margin-right: auto;
 }